## Deduplicating data

In this notebook, we deduplicate data using the [Dedupe library](https://dedupe.readthedocs.io/en/latest/), which utilizes a shallow neural network to learn from a small training exercise.

If you are interested in building your own parser, the same folks have created the [Parserator](https://github.com/datamade/parserator) which you can use to extract text features and train your own text extraction (hooray! less brittle than regex!)

In [2]:
import pandas as pd
import dedupe
import os

INFO:root:Generating grammar tables from /usr/lib/python3.6/lib2to3/Grammar.txt
INFO:root:Generating grammar tables from /usr/lib/python3.6/lib2to3/PatternGrammar.txt

In [3]:
customers = pd.read_csv('../data/customer_data_duped.csv', 
                        encoding='utf-8')

## Checking Data Quality

In [4]:
customers.head()

,name,job,company,street_address,city,state,email,user_name
0,Patricia Schaefer,"Programmer, systems",Estrada-Best,398 Paul Drive,Christianview,Delaware,lambdavid@gmail.com,ndavidson
1,Olivie Dubois,Ingénieur recherche et développement en agroal...,Moreno,rue Lucas Benard,Saint Anastasie-les-Bains,AR,berthelotjacqueline@mahe.fr,manonallain
2,Mary Davies-Kirk,Public affairs consultant,Baker Ltd,Flat 3\nPugh mews,Stanleyfurt,ZA,middletonconor@hotmail.com,colemanmichael
3,Miroslawa Eckbauer,Dispensing optician,Ladeck GmbH,Mijo-Lübs-Straße 12,Neubrandenburg,Berlin,sophia01@yahoo.de,romanjunitz
4,Richard Bauer,"Accountant, chartered certified",Hoffman-Rocha,6541 Rodriguez Wall,Carlosmouth,Texas,tross@jensen-ware.org,adam78

In [5]:
customers.dtypes

name              object
job               object
company           object
street_address    object
city              object
state             object
email             object
user_name         object
dtype: object

In [6]:
for col in customers.columns:
    print(col, customers[col].isnull().sum())

name 0
job 0
company 0
street_address 0
city 0
state 0
email 0
user_name 0

## Setting up Dedupe

In [7]:
variables = [
    {'field': 'name', 'type': 'String'},
    {'field': 'job', 'type': 'String'},
    {'field': 'company', 'type': 'String'},  
    {'field': 'street_address','type': 'String'},
    {'field': 'city','type': 'String'},
    {'field': 'state', 'type': 'String', 'has_missing': True},
    {'field': 'email', 'type': 'String', 'has_missing': True},
    {'field': 'user_name', 'type': 'String'},
]

deduper = dedupe.Dedupe(variables)

In [8]:
deduper

In [9]:
customers.shape

(2080, 8)

In [13]:
customers.T.to_dict()[0]

{'city': 'Christianview',
 'company': 'Estrada-Best',
 'email': 'lambdavid@gmail.com',
 'job': 'Programmer, systems',
 'name': 'Patricia Schaefer',
 'state': 'Delaware',
 'street_address': '398 Paul Drive',
 'user_name': 'ndavidson'}

In [15]:
deduper.sample(customers.T.to_dict(), 249)

Note: If you receive an error like this:

```/usr/local/lib/python2.7/site-packages/dedupe/sampling.py:39: UserWarning: 250 blocked samples were requested, but only able to sample 249
  % (sample_size, len(blocked_sample)))
```

you can continue (some were selected), or use the suggested number (^ here it would be 249)

#### Either use training file (uncomment) or resume active training below

In [16]:
training_file = '../data/ignore-dedupe-training.json'
#if os.path.exists(training_file):
#    with open(training_file, 'rb') as f:
#        deduper.readTraining(f)

In [17]:
dedupe.consoleLabel(deduper)

name : Aurore Raynaud
job : Céramiste
company : Fernandes S.A.R.L.
street_address : 120, avenue de Millet
city : Sainte ClaudeVille
state : GN
email : allardgerard@dbmail.com
user_name : oguillot

name : Aurore Raynaud
job : Cérste
company : Fernandes S.A.R.L.
street_address : 20, aveue de Miet
city : Saine CladeVille
state : GN
email : allarderard@dbmal.com
user_name : guill

0/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished
name : Luisa Reichmann
job : Desge, jewelley
company : Meyer Stift888 & Co. KG
street_address : Briemerallee 537
city : Konsan
state : Hamurg
email : takuenet@loeffle.com
user_name : iheite

name : Luisa Reichmann
job : Designer, jewellery
company : Meyer Stiftung & Co. KG
street_address : Briemerallee 537
city : Konstanz
state : Hamburg
email : ritakuehnert@loeffler.com
user_name : iheintze

1/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(TfidfNGramCanopyPredicate: (0.8, email), TfidfTextCanopyPredicate: (0.8, company))
name : Marissa Williams
job : IT tehnial sot offie
company : Jaikion-Hendeiion
street_address : 20 Scott Tace Site 0
city : Eas Anonyboou
state : Aaska
email : morenoian@otmailcom
user_name : cormorris

name : Erica Ortmann
job : Sports therapist
company : Vogt Hellwig AG
street_address : Karzring 18
city : Stendal
state : Hessen
email : vollbrechtronny@hotmail.de
user_name : gustavschenk

2/10 positive, 0/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(TfidfNGramCanopyPredicate: (0.8, email), TfidfTextCanopyPredicate: (0.8, company))
name : Joshua Ferguson
job : Corporate treasurer
company : Burch LLC
street_address : 208 Michael Mountain
city : Robertfurt
state : Rhode Island
email : julie75@tran.net
user_name : garrett35

name : Berend Riehl
job : Science writer
company : Niemeier GmbH & Co. OHG
street_address : Nikola-Pärtzelt-Allee 49
city : Kitzingen
state : Mecklenburg-Vorpommern
email : wdietz@roerricht.com
user_name : chantal35

2/10 positive, 1/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Anna de Lobato
job : Medical technical officer
company : Macias PLC
street_address : Callejón de Dolores Pareja 21 Apt. 37
city : Palencia
state : Cantabria
email : vázquezlorenzo@cal.com
user_name : daniel70

name : Anna de Lobato
job : Medcl techcl ocer
company : Maciag PLC
street_address : Calleón de Dolore Parea 21 At 7
city : Palncia
state : Cantaria
email : vázqzlornzo@al.om
user_name : daniel70

2/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Joseph Nelson
job : Psychotherapist, child
company : Johnson Ltd
street_address : 9475 Mccoy Street Apt. 776
city : West Bonnie
state : Massachusetts
email : walterlance@johnson.org
user_name : ryanclarke

name : Joseph Nelson
job : Pychthrapit child
company : Joh5so5 Lt5
street_address : 9475 Mccy Strt Apt 776
city : Wst Bonni
state : Mchuett
email : wltrln@johnsonorg
user_name : ryaclarke

3/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(TfidfNGramCanopyPredicate: (0.8, email), TfidfTextCanopyPredicate: (0.8, company))
name : Tomislav Adolph
job : Coy
company : Oderwald
street_address : Goritzrin 4
city : Zr
state : Rhinland-Pfalz
email : brigitterpperberger@wagekect.org
user_name : marietheresast

name : Tomislav Adolph
job : Copy
company : Oderwald
street_address : Gorlitzring 4
city : Zerbst
state : Rheinland-Pfalz
email : brigitteruppersberger@wagenknecht.org
user_name : marie-theresfaust

4/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(TfidfNGramCanopyPredicate: (0.8, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), SimplePredicate: (suffixArray, job))
name : Sarah Hoffman
job : Exhibition designer
company : Henson, Wiley and Ryan
street_address : 97490 Curtis Spur Suite 825
city : Josephtown
state : Arizona
email : ncole@yahoo.com
user_name : csmith

name : Sarah Hoffman
job : Exhibitin designe
company : Hensont Wiley and Ryan
street_address : 9490 Curts Spur Sute 82
city : Jseptwn
state : Arizona
email : ncole@yahoo.com
user_name : csmith

5/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), SimplePredicate: (suffixArray, job))
name : Karen Duran
job : Adult guidance worker
company : Hernandez-Hoffman
street_address : 807 Welch Crest
city : Derrickstad
state : Montana
email : morganjoseph@robinson-clark.com
user_name : uwood

name : Karen Duran
job : Adult gudace woke
company : Hewnwnwez-Hoffmwn
street_address : 807 Welch Crest
city : Derristad
state : Montana
email : moranoeph@robinon-clark.com
user_name : woo

6/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, company), TfidfTextCanopyPredicate: (0.6, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), SimplePredicate: (suffixArray, job))
name : Thomas Coulon
job : Collecteur de fod
company : Lerr
street_address : 91, ue Laeiia Coe
city : Dis-su-Nomn
state : SC
email : descampsgariel@gut.fr
user_name : michelepetit

name : Thomas Coulon
job : Collecteur de fonds
company : Levy
street_address : 91, rue Laetitia Collet
city : Dias-sur-Normand
state : SC
email : deschampsgabriel@guyot.fr
user_name : michelepetit

7/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(LevenshteinCanopyPredicate: (4, job), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, company), TfidfTextCanopyPredicate: (0.6, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), SimplePredicate: (suffixArray, job))
name : Prof. Sönke Dowerg
job : Docto, hospital
company : Rädel Kreusel Stiftuns & Css KGsA
street_address : Bigit-Dobs-Wg 7/
city : Shrobenhasen
state : NrdrhiWsal
email : reingard22@kabusde
user_name : tadelmanncenta

name : Prof. Sönke Dowerg
job : Doctor, hospital
company : Rädel Kreusel Stiftung & Co. KGaA
street_address : Birgit-Dobes-Weg 7/5
city : Schrobenhausen
state : Nordrhein-Westfalen
email : reingard22@kabus.de
user_name : stadelmanncenta

8/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, company), TfidfTextCanopyPredicate: (0.6, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, job), SimplePredicate: (wholeFieldPredicate, user_name))
INFO:dedupe.training:(SimplePredicate: (firstTokenPredicate, job), TfidfTextCanopyPredicate: (0.8, street_address))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), SimplePredicate: (suffixArray, job))
name : Manuela Pacheco Acevedo
job : Freight forwarder
company : Oller Inc
street_address : Glorieta de Gabriel Haro 10
city : Castellón
state : Álava
email : caromagdalena@yahoo.com
user_name : rivasamparo

name : Manuela Pacheco Acevedo
job : Fgt fowad
company : Orrer Inc
street_address : Glorieta e Gabriel Haro 0
city : Caseón
state : Álaa
email : crogle@yhoo.co
user_name : rivasampar

9/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, email), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, company), TfidfTextCanopyPredicate: (0.6, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, job), SimplePredicate: (wholeFieldPredicate, user_name))
INFO:dedupe.training:(SimplePredicate: (firstTokenPredicate, job), TfidfTextCanopyPredicate: (0.8, street_address))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, company), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), SimplePredicate: (suffixArray, job))
name : Joséphine Grenier
job : Monur n réau d drbuon élcrqu
company : Pgyeg
street_address : 41, u J Fur
city : Legendreboeuf
state : CV
email : weberhelene@tiscali.fr
user_name : ouuetcoinne

name : Joséphine Grenier
job : Monteur en réseaux de distribution électrique
company : Payet
street_address : 41, avenue Jeanne Faure
city : Legendreboeuf
state : CV
email : weberhelene@tiscali.fr
user_name : fouquetcorinne

10/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (firstTokenPredicate, street_address), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(LevenshteinCanopyPredicate: (4, job), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.8, company))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, email), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, company), TfidfTextCanopyPredicate: (0.6, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
name : Mónica Galvez Marqués
job : Surgeon
company : Baena, Vaquero and Juárez
street_address : Via Joaquin Leiva 4 Piso 5
city : Cáceres
state : Cádiz
email : miguel-ángel33@hotmail.com
user_name : ecerro

name : Elena Ferrer
job : Air cabin crew
company : Casares Group
street_address : Rambla Susana Berenguer 58 Piso 8
city : Cáceres
state : Cádiz
email : jose-carlosfortuny@hotmail.com
user_name : felix28

11/10 positive, 2/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameSevenCharStartPredicate, user_name), SimplePredicate: (suffixArray, company))
INFO:dedupe.training:(LevenshteinCanopyPredicate: (4, job), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, email), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), TfidfTextCanopyPredicate: (0.8, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(TfidfNGramCanopyPredicate: (0.8, email), TfidfTextCanopyPredicate: (0.8, company))
name : Felix Arrieta Báez
job : Tranng an evelopent ocer
company : C5r5és-J5lián
street_address : Paseo Cristian Qeeo 95 Apt. 74
city : Tled
state : Zmo
email : annaenríquez@núñez.m
user_name : amlamat

name : Felix Arrieta Báez
job : Training and development officer
company : Cortés-Julián
street_address : Paseo Cristian Quevedo 95 Apt. 74
city : Toledo
state : Zamora
email : antoniaenríquez@núñez.com
user_name : samuelamat

11/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Ing. Marian Heidrich MBA.
job : Civil engineer, consulting
company : Johann Heuser AG
street_address : Lilija-Ortmann-Straße 54
city : Husum
state : Hamburg
email : truebconcetta@googlemail.com
user_name : marie78

name : Ing. Marian Heidrich MBA.
job : Cii ngin, consuting
company : Johann Heuser AG
street_address : Lilija-Ortmann-Straße 54
city : Husu
state : Hamburg
email : truebcncetta@gglemail.cm
user_name : arie

12/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(TfidfNGramCanopyPredicate: (0.2, user_name), TfidfNGramCanopyPredicate: (0.8, email))
INFO:dedupe.training:(LevenshteinCanopyPredicate: (4, job), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (sameSevenCharStartPredicate, street_address), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), TfidfTextCanopyPredicate: (0.8, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, job), SimplePredicate: (wholeFieldPredicate, user_name))
INFO:dedupe.training:(SimplePredicate: (sameSevenCharStartPredicate, user_name), TfidfTextCanopyPredicate: (0.8, company))
name : Michael Morales
job : Technical sales engineer
company : Cruz PLC
street_address : 3731 Johnson Streets Apt. 718
city : Lake Johnville
state : Pennsylvania
email : fray@hotmail.com
user_name : crawforddawn

name : Isaiah Quinn
job : Personal assistant
company : Ibarra, Pennington and Johnson
street_address : 77397 Walls Knoll
city : Smithburgh
state : Wyoming
email : tiffany02@hotmail.com
user_name : ncrawford

13/10 positive, 3/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.6, company))
INFO:dedupe.training:(LevenshteinCanopyPredicate: (4, job), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (sameSevenCharStartPredicate, street_address), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, email), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), TfidfTextCanopyPredicate: (0.8, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, job), SimplePredicate: (wholeFieldPredicate, user_name))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, street_address), TfidfNGramCanopyPredicate: (0.8, email))
name : Anaïs Gaudin
job : Opérateur en traitement des matériaux
company : Thibault S.A.S.
street_address : 4, avenue Laurent
city : Merle
state : WS
email : duprejosette@orange.fr
user_name : philippe14

name : Gilbert Berthelot de Maurice
job : Technicien de forge
company : Marchal
street_address : 4, avenue Lemaitre
city : Blot-sur-Boyer
state : AT
email : clairelegros@pascal.fr
user_name : thierryde-oliveira

13/10 positive, 4/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Daniel Crane
job : Geographical information systems officer
company : Boyd, Thomas and Lewis
street_address : 901 Tabitha Inlet Apt. 744
city : Port Mary
state : Nevada
email : williamskristen@taylor-rubio.info
user_name : brenda47

name : Hellmuth Hermann-Hermann
job : Geographical information systems officer
company : Ruppert
street_address : Mansstraße 76
city : Waren
state : Mecklenburg-Vorpommern
email : koch-iihenning@ritter.com
user_name : miroslav17

13/10 positive, 5/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Patricia Santamaría Lopez
job : Cartographer
company : Maza, Solé and Sanmartín
street_address : Cuesta de Sara Gimenez 27 Piso 5
city : Santa Cruz de Tenerife
state : Salamanca
email : vanesa92@gmail.com
user_name : ismael52

name : Iker Briones-Mas
job : Lobbyist
company : Riera-Sierra
street_address : Rambla Sandra Losada 3
city : Santa Cruz de Tenerife
state : Málaga
email : nleón@hotmail.com
user_name : castejónclaudia

13/10 positive, 6/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Tilman Rädel
job : Pharmacist, hospital
company : Austermühle
street_address : Junckenstraße 8/1
city : Kaiserslautern
state : Berlin
email : mattiaswaehner@googlemail.com
user_name : matthaeivalentine

name : Frau Christine Fiebig
job : Freight forwarder
company : Wagner AG
street_address : Birnbaumstr. 9/2
city : Kaiserslautern
state : Rheinland-Pfalz
email : mathias41@web.de
user_name : pmude

13/10 positive, 7/10 negative
Do these records refer to the same thing?
(y)es / (n)o / (u)nsure / (f)inished / (p)revious
name : Mark Duffy
job : Finania pann
company : North-Clarke
street_address : 641 Day wak
city : Aashire
state : KG
email : rnceshssn@gml.com
user_name : butonjake

name : Ines Adriana Montserrat Cal
job : Recruitment consultant
company : Solís, Boada and Prats
street_address : Rambla de Nieves Avilés 91 Piso 4

In [18]:
deduper.train()

INFO:rlr.crossvalidation:using cross validation to find optimum alpha...
INFO:rlr.crossvalidation:optimum alpha: 0.000010, score 1.0
INFO:dedupe.training:Final predicate set:
INFO:dedupe.training:(SimplePredicate: (sameFiveCharStartPredicate, email), TfidfTextCanopyPredicate: (0.6, company))
INFO:dedupe.training:(LevenshteinCanopyPredicate: (4, job), SimplePredicate: (twoGramFingerprint, street_address))
INFO:dedupe.training:(SimplePredicate: (sameSevenCharStartPredicate, street_address), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, email), TfidfNGramCanopyPredicate: (0.8, user_name))
INFO:dedupe.training:(SimplePredicate: (firstIntegerPredicate, street_address), TfidfTextCanopyPredicate: (0.8, email))
INFO:dedupe.training:(SimplePredicate: (alphaNumericPredicate, user_name), SimplePredicate: (sameFiveCharStartPredicate, company))
INFO:dedupe.training:(SimplePredicate: (commonTwoTokens, job), SimplePredicate: (wholeFieldPredicate, user_name))
INFO:dedupe.training:(SimplePredicate: (commonThreeTokens, street_address), TfidfNGramCanopyPredicate: (0.8, email))

In [19]:
with open(training_file, 'w') as tf:
    deduper.writeTraining(tf)

In [20]:
dupes = deduper.match(customers.T.to_dict())

INFO:dedupe.canopy_index:Removing stop word com
INFO:dedupe.canopy_index:Removing stop word co
INFO:dedupe.canopy_index:Removing stop word om

In [33]:
dupes[:1]

[((14, 135), (1.0, 1.0))]

In [24]:
customers.iloc[[84,1600]]

,name,job,company,street_address,city,state,email,user_name
84,Dr. Catherine Sutton,"Engineer, maintenance",Ross LLC,13689 Morales Centers,North Sarah,New Mexico,lewisnicole@yahoo.com,clittle
1600,Dr. Catherine Sutton,Enginee maintenance,Ross LLC,13689 Morales Centers,North Sarah,New Mexico,ewinicoe@yaoo.com,little

In [25]:
customers.iloc[[156,484]]

,name,job,company,street_address,city,state,email,user_name
156,Joseph Nelson,"Psychotherapist, child",Johnson Ltd,9475 Mccoy Street Apt. 776,West Bonnie,Massachusetts,walterlance@johnson.org,ryanclarke
484,Joseph Nelson,Pychthrapit child,Joh5so5 Lt5,9475 Mccy Strt Apt 776,Wst Bonni,Mchuett,wltrln@johnsonorg,ryaclarke

### Exercise: Flag duplicates by adding 2 extra columns, one for confidence score and one for duplicate_ids

In [116]:
# %load ../solutions/dedupe.py
import numpy as np

dupe_dict = {}

for dupepair, confidence in dupes:
    dupe_dict[dupepair[0]] = {'pair': dupepair, 'confidence': confidence[0]}
    dupe_dict[dupepair[1]] = {'pair': dupepair, 'confidence': confidence[0]}

customers['duplicate_pair'] = customers.index.map(lambda i: dupe_dict[i].get('pair')
                                                  if i in dupe_dict else np.nan)
customers['confidence'] = customers.index.map(lambda i: dupe_dict[i].get('confidence')
                                              if i in dupe_dict else np.nan)

In [172]:
my_dict= {entry[0]:(dup[0],entry[1]) for dup in dupes for entry in zip(*dup)}
customers.head()

,name,job,company,street_address,city,state,email,user_name,duplicate_pair,confidence,duplicate_pair_2,confidence_2
0,Patricia Schaefer,"Programmer, systems",Estrada-Best,398 Paul Drive,Christianview,Delaware,lambdavid@gmail.com,ndavidson,NaN,NaN,NaN,NaN
1,Olivie Dubois,Ingénieur recherche et développement en agroal...,Moreno,rue Lucas Benard,Saint Anastasie-les-Bains,AR,berthelotjacqueline@mahe.fr,manonallain,NaN,NaN,NaN,NaN
2,Mary Davies-Kirk,Public affairs consultant,Baker Ltd,Flat 3\nPugh mews,Stanleyfurt,ZA,middletonconor@hotmail.com,colemanmichael,NaN,NaN,NaN,NaN
3,Miroslawa Eckbauer,Dispensing optician,Ladeck GmbH,Mijo-Lübs-Straße 12,Neubrandenburg,Berlin,sophia01@yahoo.de,romanjunitz,NaN,NaN,NaN,NaN
4,Richard Bauer,"Accountant, chartered certified",Hoffman-Rocha,6541 Rodriguez Wall,Carlosmouth,Texas,tross@jensen-ware.org,adam78,NaN,NaN,NaN,NaN

In [174]:
customers['duplicate_pair_2'] = customers.index.map(lambda idx:my_dict[idx][0] if idx in my_dict else np.nan)
customers['confidence_2'] = customers.index.map(lambda idx: my_dict[idx][1] if idx in my_dict else np.nan)

customers.iloc[14]

name                  Patricia Perrin-Boulay
job                            Géothermicien
company                          Didier SARL
street_address         92, rue Jérôme Arnaud
city                                  Dupont
state                                     ZW
email               augustebertin@bonnet.com
user_name                    cordierclaudine
duplicate_pair                     (14, 135)
confidence                                 1
duplicate_pair_2                   (14, 135)
confidence_2                               1
Name: 14, dtype: object

In [32]:
customers[customers.duplicate_pair.notna()][['duplicate_pair','confidence']].head()

    duplicate_pair  confidence
14       (14, 135)         1.0
31      (31, 1587)         1.0
84      (84, 1600)         1.0
131    (131, 1652)         1.0
135      (14, 135)         1.0

In [175]:
customers[customers.confidence.notnull() == True].head()

,name,job,company,street_address,city,state,email,user_name,duplicate_pair,confidence,duplicate_pair_2,confidence_2
14,Patricia Perrin-Boulay,Géothermicien,Didier SARL,"92, rue Jérôme Arnaud",Dupont,ZW,augustebertin@bonnet.com,cordierclaudine,"(14, 135)",1.0,"(14, 135)",1.0
31,Manuela Pacheco Acevedo,Freight forwarder,Oller Inc,Glorieta de Gabriel Haro 10,Castellón,Álava,caromagdalena@yahoo.com,rivasamparo,"(31, 1587)",1.0,"(31, 1587)",1.0
84,Dr. Catherine Sutton,"Engineer, maintenance",Ross LLC,13689 Morales Centers,North Sarah,New Mexico,lewisnicole@yahoo.com,clittle,"(84, 1600)",1.0,"(84, 1600)",1.0
131,Jörg Henschel,Charity officer,Schinke AG,Henny-Lorch-Ring 484,Hohenstein-Ernstthal,Baden-Württemberg,hubertthies@hotmail.de,anne-katrin51,"(131, 1652)",1.0,"(131, 1652)",1.0
135,Patricia Perrin-Boulay,Géotemicien,Didier SARL,"92, rue Jérôme Araud",Dupont,ZW,augustebertin@bnnetcm,coclun,"(14, 135)",1.0,"(14, 135)",1.0