### Managing Nulls with Pandas

In this notebook, we will take a look at some ways to manage nulls using Pandas DataFrames.

For even more details on how to do this, check out the [Panda's documentation](http://pandas.pydata.org/pandas-docs/stable/missing_data.html).

In [1]:
import pandas as pd
from numpy import random

In [2]:
df = pd.read_csv('../data/iot_example_with_nulls.csv')

### Data Quality Check

In [3]:
df.head()

,timestamp,username,temperature,heartrate,build,latest,note
0,2017-01-01T12:00:23,michaelsmith,12.0,67,4e6a7805-8faa-2768-6ef6-eb3198b483ac,0.0,interval
1,2017-01-01T12:01:09,kharrison,6.0,78,7256b7b0-e502-f576-62ec-ed73533c9c84,0.0,wake
2,2017-01-01T12:01:34,smithadam,5.0,89,9226c94b-bb4b-a6c8-8e02-cb42b53e9c90,0.0,NaN
3,2017-01-01T12:02:09,eddierodriguez,28.0,76,NaN,0.0,update
4,2017-01-01T12:02:36,kenneth94,29.0,62,122f1c6a-403c-2221-6ed1-b5caa08f11e0,NaN,NaN

In [4]:
df.dtypes

timestamp       object
username        object
temperature    float64
heartrate        int64
build           object
latest         float64
note            object
dtype: object

In [5]:
df.note.value_counts()

wake        16496
user        16416
interval    16274
sleep       16226
update      16213
test        16068
Name: note, dtype: int64

### Let's remove all null values (including the note: n/a)

In [6]:
df = pd.read_csv('../data/iot_example_with_nulls.csv', 
                 na_values=['n/a'])

### Test to see if we can use dropna

In [7]:
df.shape

(146397, 7)

In [8]:
df.dropna().shape

(46116, 7)

In [9]:
df.dropna(how='all', axis=1).shape

(146397, 7)

### Test to see if we can drop columns

In [ ]:
my_columns = list(df.columns)

In [ ]:
my_columns

In [10]:
list(df.dropna(thresh=int(df.shape[0] * .9), axis=1).columns)

['timestamp', 'username', 'heartrate']

### I want to find all columns that have missing data

In [12]:
missing_info = list(df.columns[df.isnull().any()])

In [13]:
missing_info

['temperature', 'build', 'latest', 'note']

In [14]:
for col in missing_info:
    num_missing = df[df[col].isnull() == True].shape[0]
    print('number missing for column {}: {}'.format(col, num_missing))

number missing for column temperature: 32357
number missing for column build: 32350
number missing for column latest: 32298
number missing for column note: 48704

In [15]:
for col in missing_info:
    percent_missing = df[df[col].isnull() == True].shape[0] / df.shape[0]
    print('percent missing for column {}: {}'.format(
        col, percent_missing))

percent missing for column temperature: 0.22102228870810195
percent missing for column build: 0.22097447352063226
percent missing for column latest: 0.22061927498514314
percent missing for column note: 0.332684412931959

### Can I easily substitute majority values in for missing data?

In [16]:
df.note.value_counts()

wake        16496
user        16416
interval    16274
sleep       16226
update      16213
test        16068
Name: note, dtype: int64

In [17]:
df.build.value_counts().head()

c4e943fe-3b4a-f025-67bd-77b30b09021c    1
2d8d2d47-8f27-84a1-6d40-a9e44fb984c2    1
fb08015f-d3ac-f447-e276-f0e9121dfeb8    1
265b2c83-f845-d4a8-74af-549aaa9fc037    1
7b237e38-b64e-e51f-0033-8a9646d03725    1
Name: build, dtype: int64

In [18]:
df.latest.value_counts()

0.0    75735
1.0    38364
Name: latest, dtype: int64

In [20]:
df.latest = df.latest.fillna(0)

### Have not yet addressed temperature missing values... Let's find a way to fill

In [21]:
df.username.value_counts().head()

esmith    45
zsmith    43
vsmith    41
ysmith    40
jsmith    37
Name: username, dtype: int64

In [22]:
df = df.set_index('timestamp')

In [23]:
df.head()

,username,temperature,heartrate,build,latest,note
timestamp,,,,,,
2017-01-01T12:00:23,michaelsmith,12.0,67,4e6a7805-8faa-2768-6ef6-eb3198b483ac,0.0,interval
2017-01-01T12:01:09,kharrison,6.0,78,7256b7b0-e502-f576-62ec-ed73533c9c84,0.0,wake
2017-01-01T12:01:34,smithadam,5.0,89,9226c94b-bb4b-a6c8-8e02-cb42b53e9c90,0.0,NaN
2017-01-01T12:02:09,eddierodriguez,28.0,76,NaN,0.0,update
2017-01-01T12:02:36,kenneth94,29.0,62,122f1c6a-403c-2221-6ed1-b5caa08f11e0,0.0,NaN

In [67]:
df.temperature = df.groupby('username').temperature.fillna(
    method='backfill', limit=10)

### Exercise: How many temperature values did I fill? What percentage of values are still missing (for temperature)?

In [74]:
# %load ../solutions/nulls.py
rows_filled = 32357 - df.temperature.isnull().sum() # taken from cell 15
still_missing = df.temperature.isnull().sum() / len(df)

In [72]:
rows_filled

9745

In [70]:
still_missing

0.15445671700922833